#canvas {
  position: fixed;
  top: 0;
  left: 0;
  display: block;
  cursor: auto;
  z-index: 1;
}
#canvas1 {
  position: fixed;
  top: 0;
  left: 0;
  display: block;
  cursor: auto;
}
#myCanvas {
  position: fixed;
  top: 0;
  left: 0;
  display: block;
}

#video {
  position: fixed;
  top: 0;
  left: 0;
  display: block;
}

.loading {
  position: fixed;
  top: 0px;
  left: 0px;
  opacity: 0.2;
  background-color: #ffffff;
}
.sentence-stater{
  background-color: #e60000;
  padding: 10px 10px;
  text-align: center;
  color: white;
  margin: 0px;
  font-family: Monda;
  font-style: normal;
  font-weight: normal;
  font-size: 1.5em;
}
.demo-text{
  text-align: center;
  margin-top: 10px;
}
#demo-text:hover{
  color: #e60000;
  cursor: pointer;
}
.btn-wrapper{
  background-color: #e60000;
  padding: 10px 10px;
  text-align: center;
  width: 80%;
  color: white;
  border-radius: 15px;
  margin-left: auto;
  margin-right: auto;
  cursor: pointer;
  font-size: 1em;   
}
.btn-wrapper-black {
  margin-top: 10px;
  background-color: grey;
  padding: 10px 10px;
  text-align: center;
  width: 80%;
  color: white;
  border-radius: 15px;
  margin-left: auto;
  margin-right: auto;
  cursor: pointer;
  font-size: 1em;   
}
.column{
  padding: 0px;
}
.inputData {
  position: absolute;
  width: 50%;
  margin-top: 50px;
  margin-left: 50px;
  height: 35px;
  border: none;
  box-sizing: border-box;
  border: 1px solid #e60000;
  border-radius: 8px;
  padding-left: 20px;
}

.simple-keyboard {
  max-width: 550px;
  position: fixed;
  bottom: 40%;
  right: 4rem;
  z-index: 10;
}
.suggestion-Wrapper{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  padding: 10px;
  margin-top: 830px;
  margin-left: 50px;
  width: 70%;
}
.sugestion{
  position: relative;
  padding-top: 350px;
  display: inline;
  /* margin-top: 530px; */
  margin-top: 20px;
  margin-left: 50px;
  /* background-color: white; */
  color: black;
  cursor: pointer;
  /* text-align: center; */
  /* border-style: none; */
  /* outline: none; */
  /* border: 1px solid white; */
}

.sugestion Button {
  margin-top: 10px;
}

.speak-btn{
  background-color: #e60000;
  padding: 10px 10px;
  text-align: center;
  color: white;
  border-radius: 8px;
  margin-left: 60px;
  cursor: pointer;
}
.clear-btn{
  margin-right: 20px;
  background-color: grey;
  padding: 10px 10px;
  text-align: center;
  color: white;
  border-radius: 8px;
  margin-left: 60px;
  cursor: pointer;
}
.suggestions{
 padding: 7px 7px ;
 background-color: white;
 color: black;
 border-radius: 5px;
 margin-left: 12px;
 margin-bottom: 10px;;
 cursor: pointer;
}
.suggestions:hover{
  border: 1px solid #e60000;
}
.sentence-checker{
  margin: 0px;
  text-align: center;
  padding:15px 10px;
  background-color: #e60000;
  color: white;
  font-size: 20px;
}
.pollyText{
  background-color: white;
  border-radius: 8px;
  border: 1px solid #e60000;
  padding: 20px;
  text-align: center;
  width: 70%;
  margin: auto;
  margin-top: 20px;
  margin-bottom: 20px;
}
.speak-now{
  background-color: #e60000;
  padding: 10px 10px;
  text-align: center;
  color: white;;
  margin-top: 20px;
  border-radius: 8px;
  margin-right: 20px;;
  margin-left: 60px;
  cursor: pointer;
}
.back-btn{
  margin-right: 20px;
  background-color: grey;
  padding: 10px 10px;
  text-align: center;
  color: white;
  margin-top: 20px;
  border-radius: 8px;
  margin-left: 50px; 
  cursor: pointer;
}
.footer-wrapper{
  /* margin-top: 800px; */
  overflow: hidden;
  position: absolute;
  bottom: 0px;
  width : 100%;
  height : 140px;
  /* @media only screen and (max-width: 1024px) {
    margin-top: 550px
  } */
}

.right-Wrapper{
  margin-top: 80px;
  width: 100%;
  background-color: grey;
  height: 59px;
  overflow: hidden;
}
.image-wrapper{
  display: flex;
  justify-content: center;
  padding-left: 0px !important;
  padding-right: 0px !important;
  /* align-items: center; */
}
.img{
  margin-top: 50px;
  /* width: 320px; */
  /* height: 90px; */
  width : 100%
}
.left-wrapper{
  margin-top: 80px;
  width: 100%;
  overflow: hidden;
  height: 59px;
  background-color: grey;
}
.icons-wrapper{
  width: 100%;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.icons-wrapper:hover {
  background-color: white;
  color: #e60000;
}
.icons-wrapper:hover .pencil{
  /* background-color: white; */
  color: #e60000;
}
.pencil{
  color: white;
  font-size: 50px;
  /* margin-top: 10px; */
  /* margin-left: 20px; */
  /* padding: 10px; */
}
.pencil:hover{
  color: #e60000;
}
.heading-wrapper{
  width: 100%;
  background-color: #e60000;
  color: white;
  text-align: center;
  margin: 0px;
  padding: 0px;
  height: 70px;
}
.heading{
  color: white;
  text-align: center;
  padding-top: 25px;
  font-weight: 700;
}
.polly-wrapper{
  width: 100%;
  background-color: white;
  text-align: center;
  margin: 0px;
  padding: 0px;
  height: 40px;
}
.polly-text{
  text-align: center;
  color: #e60000;
  padding-top: 10px;
}
.imageBack_wrapper{
  background-image: url("../assets/IMG_1475.jpg");
  width: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  margin: 0px;
  padding: 0px;
  height: 770px;
}
.frame{
  height: 70%;
  width: 30%;
  margin-top: 40px;
  margin-left: 50%;
}
.polly_name{
  height: 100px;
  width: 150px;
  margin-top: 0px;
  margin-left: 77%;
}

.button_click_cursor {
  cursor: pointer;
}

::-webkit-scrollbar {
  display: none;
}
.pending-load {
  position: fixed;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #a2a2a2;
}
.start-detecting {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: #ffffff96;
  border-radius: 20px;
  padding: 10px 30px;
}

.start-detecting img {
  width: 40px;
}
.action-list .icon-circle {
  width: 70px;
  height: 70px;
  border-radius: 50%;
  border: 2px solid #ffffff;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  background: #5757578c;
  mix-blend-mode: hard-light;
}
.action-list .text-mess {
  height: 70px;
  position: relative;
  margin-right: 60px;
}
.action-list .text-bg {
  background: #ffffffb8;
  mix-blend-mode: hard-light;
  border-radius: 10px;
  padding: 10px 20px;
}
.text-mess:after {
  content: '';
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  right: -40px;
  width: 0;
  height: 0;
  border-top: 20px solid transparent;
  border-bottom: 20px solid transparent;

  border-left: 40px solid #ffffffb8;
}
.action-list .keyboard {
  height: 70px;
  width: 210px;
  background: #FFFFFF8c;
  mix-blend-mode: hard-light;
  border-radius: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}
.keyboard img {
  width: 40%;
  height: auto;
}
.icon-circle img {
  width: 60%;
}
.icon-circle.active {
  background-color: #e60000;
}
.text-bg.active {
  background-color: #e60000;
  color: #ffffff;
}
.control-hardware {
  position: fixed;
  z-index: 1;;
  width: 100%;
  height: 60vh;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1;
}
.slow-left img, .slow-right img, .fast-right img, .fast-left img {
  height: 90px;
}
.center img {
  width: 90px;
}
.control-hardware .fast-left {
  flex: 1;
  display: flex;
  justify-content: center;
}
.control-hardware div {
  cursor: pointer;
}
.control-hardware .slow-left {
  flex: 1;
  display: flex;
  justify-content: center;
}
.control-hardware .center {
  flex: 2;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  align-items: center;
  height: 100%;
}
.control-hardware .slow-right {
  flex: 1;
  display: flex;
  justify-content: center;
}
.control-hardware .fast-right {
  flex: 1;
  display: flex;
  justify-content: center;
}
.btn-setting {
  position: fixed;
  left: -100%;
  top: 50%;
  transform: translateY(-50%);
  display: flex;
  justify-content: center;
  background: #5757578c;
  border-bottom-right-radius: 30px;
  border-top-right-radius: 30px;
  padding: 20px 40px 20px 50px;
  border: 1px solid #ffffff;
  cursor: pointer;
  z-index: 1;
  transition: 750ms;
}
.btn-setting img {
  width: 70%;
}
.btn-setting.active {
  left: 0;
  transition: 350ms;
}
.btn-home {
  position: fixed;
  left: -100%;
  top: 30%;
  transform: translateY(-50%);
  display: flex;
  justify-content: center;
  background: #5757578c;
  border-bottom-right-radius: 30px;
  border-top-right-radius: 30px;
  padding: 20px 40px 20px 50px;
  border: 1px solid #ffffff;
  cursor: pointer;
  z-index: 1;
  transition: 750ms;
}
.btn-home.active {
  left: 0;
  transition: 350ms;
}
.btn-home img {
  width: 70%;
}
.btn-images {
  position: fixed;
  left: -100%;
  top: 70%;
  transform: translateY(-50%);
  display: flex;
  justify-content: center;
  background: #5757578c;
  border-bottom-right-radius: 30px;
  border-top-right-radius: 30px;
  padding: 20px 40px 20px 50px;
  border: 1px solid #ffffff;
  cursor: pointer;
  z-index: 1;
  transition: 750ms;
}
.btn-images img {
  width: 70%;
}
.btn-images.active {
  left: 0;
  transition: 350ms;
}
.control-bottom {
  position: fixed;
  z-index: 1;;
  width: 100%;
  top: 65%;
  height: 200px;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1;
  transition: 500ms;
  /* transform: rotateY(180deg); */
  /* transform-origin: left top */
}
.control-bottom.active{
  top: 25%;
  transition: 500ms;
  transform: rotate(180deg);
}
.control-recording {
  transition: 350ms;
  padding-left: 150px;
  padding-right: 150px;
  opacity: 1;
}
.control-recording.active{
  transition: 350ms;
  padding-left: 0px;
  padding-right: 0px;
  opacity: 0;
  position: inherit;
  /* display: none; */
}
.control-take-photo {
  transition: 350ms;
  padding-left: 150px;
  padding-right: 150px;
  opacity: 1;
}
.control-take-photo.active {
  transition: 350ms;
  padding-left: 0px;
  padding-right: 0px;
  opacity: 0;
  position: inherit;
  /* display: none; */
}
.triangle-container {
  background: #5757578c;
  padding: 25px;
  border-radius: 100%;
  height: 80px;
  border: 1px solid #ffffff;
  position: fixed;
}
.triangle-container:hover {
  background: #ED157F;
}
.triangle-container-down {
  background: #5757578c;
  padding: 25px;
  height: 80px;
  border-radius: 100%;
  border: 1px solid #ffffff;
  position: fixed;
}
.triangle-container-down:hover {
  background: #ED157F;
}

.control-left {
  background: #5757578c;
  border-radius: 100%;
  border: 1px solid #ffffff;
  padding-left: 150px;
  padding-right: 150px;
}

.control-bottom img {
  width: 80px;
  height: 80px;
}
.control-triangle {
  width: 0;
  height: 0;
  border-left: 15px solid transparent;
  border-right: 15px solid transparent;
  border-bottom: 30px solid white;
}
.control-triangle-down {
  width: 0;
  height: 0;
  border-left: 15px solid transparent;
  border-right: 15px solid transparent;
  border-top: 30px solid white;
}
.control-bold-line {
  height: 3px;
  width: inherit;
  margin-top: 4px;
  background-color: white;
}
.control-bold-line-top {
  height: 5px;
  width: inherit;
  margin-bottom: 5px;
  background-color: white;
}
.btn-polly-logo div {
  position: absolute;
  left: -20px;
  top: 50px;
  width: 215px;
  transform: translateY(-50%);
  display: flex;
  justify-content: center;
  /* background: #5757578c; */
  border-radius: 30px;
  padding: 20px 40px 20px 50px;
  /* border: 1px solid #ffffff; */
  cursor: pointer;
  z-index: 1;
}
.btn-polly-logo img {
  width: 70%;
}

